@page
@using System.Web
@model UniEvents.WebApp.Pages.AccountModel
@{
   ViewData["Title"] = "Account";
   Layout = "~/Pages/_Layout.cshtml";
}

<div id="AccountPage">
   <div id="accountInfo">
      <h4>Account Info</h4>
      <ul>
         <li>
            <label>UserName: </label>
            <span>@Model.UserContext.UserName</span>
         </li>
         <li>
            <label>Display Name: </label>
            <span>@Model.UserContext.UserDisplayName</span>
         </li>
      </ul>
      <h4>Personal Info</h4>
      <ul>
         <li>
            <label>First Name: </label>
            <span>@Model.UserContext.FirstName</span>
         </li>
         <li>
            <label>Last Name:  </label>
            <span>@Model.UserContext.LastName</span>
         </li>
         <li>
            <label>School Email: </label>
            <span>@Model.UserContext.SchoolEmail</span>
            @if(Model.UserContext.IsSchoolEmailVerified) {
               <span style="color:green">Verified.</span>
            } else if(!String.IsNullOrWhiteSpace(Model.UserContext.SchoolEmail)) {
               <span><a name="school" class="sendEmailVerification">Send Verification Email</a></span>
            }
         </li>
         <li>
            <label>Contact Email: </label>
            <span>@Model.UserContext.ContactEmail</span>
            @if(Model.UserContext.IsContactEmailVerified) {
               <span style="color:green">Verified.</span>
            } else if(!String.IsNullOrWhiteSpace(Model.UserContext.ContactEmail)) {
               <span><a name="contact" class="sendEmailVerification">Send Verification Email</a></span>
            }
         </li>
         <li>
            <label>Phone Number: </label>
            <span>@Model.UserContext.PhoneNumber</span>
         </li>
      </ul>


      <h4>Location Info</h4>
      <ul>
         <li>
            <label>Name: </label>
            <span>@Model.UserContext.LocationName</span>
         </li>
         <li>
            <label>Address: </label>
            <span>@Model.UserContext.AddressLine</span>
         </li>
         <li>
            <label>City: </label>
            <span>@Model.UserContext.Locality</span>
         </li>
         <li>
            <label>State:</label>
            <span>@Model.UserContext.AdminDistrict</span>
         </li>
         <li>
            <label>Country: </label>
            <span>@Model.UserContext.CountryRegion</span>
         </li>
         <li>
            <label>Postal Code: </label>
            <span>@Model.UserContext.PostalCode</span>
         </li>
      </ul>
   </div>
   <h4>Active Logins on Record:</h4>
   <div id="allLoginsTableContainer">
      <table>
         <tr><th></th><th>Logon Date</th><th>ApiKey</th></tr>
         @foreach (var record in Model.AllLogins) {
            bool bIsCurrent = record.APIKey == Model.CurrentLogin?.APIKey;

            <tr class="@(bIsCurrent? "current" : "")">
               <td><span>@(bIsCurrent ? "(current)" : "")</span></td>
               <td><time datetime="@record.LoginDate.ToString("o")"></time></td>
               <td><span class="apikey">@record.APIKey</span></td>
               <td><span><a class="btnLogoutRecord">Logout</a></span></td>
            </tr>
         }
      </table>

      <input id="btnLogoutAll" type="button" value="Logout Everywhere" />
   </div>

</div>
