@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@page
@using System.Web
@model UniEvents.WebApp.Pages.AccountModel
@{
    UserContext userContext = UserContext.InitContext(HttpContextAccessor.HttpContext).ConfigureAwait(false).GetAwaiter().GetResult();
    ViewData["Title"] = "Account";
    Layout = "~/Pages/_Layout.cshtml";
}

<div id="AccountPage">
    <h4>Account Info</h4>
    <ul>
        <li>
            <label>UserName: @userContext.UserName</label>
            <span></span>
        </li>
        <li>
            <label>Display Name: @userContext.UserDisplayName</label>
            <span></span>
        </li>
    </ul>
    <h4>Personal Info</h4>
    <ul>
        <li>
            <label>First Name: @userContext.FirstName</label>
            <span></span>
        </li>
        <li>
            <label>Last Name:  @userContext.LastName</label>
            <span></span>
        </li>
        <li>
            <label>School Email: @userContext.SchoolEmail</label>
            <span></span>
        </li>
        <li>
            <label>Contact Email: @userContext.ContactEmail</label>
            <span></span>
        </li>
        <li>
            <label>Phone Number: @userContext.PhoneNumber</label>
            <span></span>
        </li>
    </ul>


    <h4>Location Info</h4>
    <ul>
        <li>
            <label>Name: @userContext.LocationName</label>
            <span></span>
        </li>
        <li>
            <label>Address: @userContext.AddressLine</label>
            <span></span>
        </li>
        <li>
            <label>City: @userContext.Locality</label>
            <span></span>
        </li>
        <li>
            <label>State:@userContext.AdminDistrict</label>
            <span></span>
        </li>
        <li>
            <label>Country: @userContext.CountryRegion</label>
            <span></span>
        </li>
        <li>
            <label>Postal Code: @userContext.PostalCode</label>
            <span></span>
        </li>
    </ul>
    <p>@userContext.</p>
    <h4>Active Logins on Record:</h4>
    <div id="allLoginsTableContainer">
        <table>
            <tr><th></th><th>Logon Date</th><th>ApiKey</th></tr>
            @foreach (var record in Model.AllLogins)
            {
                bool bIsCurrent = record.APIKey == Model.CurrentLogin?.APIKey;

                <tr class="@(bIsCurrent? "current" : "")">
                    <td><span>@(bIsCurrent ? "(current)" : "")</span></td>
                    <td><time datetime="@record.LoginDate.ToString("u")"></time></td>
                    <td><span class="apikey">@record.APIKey</span></td>
                    <td><span><a class="btnLogoutRecord">Logout</a></span></td>
                </tr>
            }
        </table>

        <input id="btnLogoutAll" type="button" value="Logout Everywhere" />
    </div>


</div>

<script>
   document.querySelectorAll("td time").forEach(function (el) {
      el.innerText = (new Date(el.dateTime)).toLocaleString();
   });

   function handleFailure(ev) { U.setPageMessage('error', ev.message); }

   document.querySelectorAll(".btnLogoutRecord").forEach(function (el) {
      el.addEventListener('click', function () {
         var tr = el.closest('tr');
         var key = tr.querySelector('.apikey').innerHTML;
         $.ajax({
            type: "GET",
            url: `webapi/account/logout?username=@HttpUtility.UrlEncode(Model.UserContext.UserName)&apikeyorpassword=${encodeURIComponent(key)}`,
            error: handleFailure,
            success: function (ev) {
               if (!ev.success) { return handleFailure(ev); }
               U.setPageMessage('success', ev.message);
               tr.remove();
               if (tr.className === "current") {
                  window.setTimeout(function () {
                     location.pathname = "";//Go to Homepage
                  }, 1000);
               }
            }
         });

      });
   });

   document.querySelector('#btnLogoutAll').addEventListener('click', function() {
      $.ajax({
         type: "GET",
         url: `webapi/account/logout?username=@HttpUtility.UrlEncode(Model.UserContext.UserName)`,
         error: handleFailure,
         success: function (ev) {
            if (!ev.success) { return handleFailure(ev); }
            U.setPageMessage('success', ev.message);
            window.setTimeout(function () {
               location.pathname = "";//Go to Homepage
            }, 1000);
         }
      });
   });


</script>
